[Unit]
Description=Run Langfuse exporter every 5 minutes
Requires=exporter.service

[Timer]
OnBootSec=2min
OnUnitInactiveSec=5min
AccuracySec=30s
Unit=exporter.service
Persistent=true

[Install]
WantedBy=timers.target
